@font-face {
  font-family: 'hansolo';
  src: url(../fonts/hansolo.otf);
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  color: #000;
  font-family: 'hansolo';
}

.wrapper {
  font-family: 'Open Sans', sans-serif;
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .starships, .wrapper .people, .wrapper .planets {
  position: relative;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.wrapper .starships::before, .wrapper .people::before, .wrapper .planets::before {
  font-weight: 600;
  display: block;
  position: absolute;
  line-height: 20px;
  top: -25px;
  color: #555;
  font-size: 14px;
}

.wrapper .starships .img, .wrapper .people .img, .wrapper .planets .img {
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: 400ms;
  transition: 400ms;
  background-blend-mode: overlay;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.wrapper .starships .img:hover, .wrapper .people .img:hover, .wrapper .planets .img:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.wrapper .starships .img:hover img, .wrapper .people .img:hover img, .wrapper .planets .img:hover img {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  opacity: 1;
}

.wrapper .starships .img:active img, .wrapper .people .img:active img, .wrapper .planets .img:active img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.wrapper .starships .img img, .wrapper .people .img img, .wrapper .planets .img img {
  -webkit-transition: 400ms;
  transition: 400ms;
  opacity: 0;
  height: 60px;
  width: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .starships::before {
  content: 'Starships';
}

.wrapper .starships .img {
  background-image: url(../img/default/starships.png);
}

.wrapper .people::before {
  content: 'People';
}

.wrapper .people .img {
  background-image: url(../img/default/people.png);
}

.wrapper .planets::before {
  content: 'Planets';
}

.wrapper .planets .img {
  background-image: url(../img/default/planets.png);
}

.wrapper .fakeHeading {
  height: 50px;
  width: 250px;
}

.wrapper .heading {
  position: absolute;
  top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  max-height: 0;
  line-height: 50px;
  background-color: #fff;
  font-weight: 600;
  width: 250px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  -webkit-transition: 200ms;
  transition: 200ms;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 29px -11px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 29px -11px rgba(0, 0, 0, 0.4);
}

.wrapper .heading img {
  width: 15px;
  margin-left: 10px;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.wrapper .heading img.rotated {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.wrapper .heading.active {
  max-height: 50px;
}

.wrapper .description {
  width: 250px;
  position: absolute;
  top: 300px;
  background-color: #111;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  max-height: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 29px -11px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 29px -11px rgba(0, 0, 0, 0.4);
}

.wrapper .description div {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  text-transform: capitalize;
  font-weight: 600;
}

.wrapper .description div span {
  font-weight: 400;
}

.wrapper .description.open {
  max-height: 150px;
}
/*# sourceMappingURL=style.css.map */